*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: rgb(255, 255, 255);
}

.p-3{
    background: #ffffff;
    max-width: 800px;
    min-width: 200px;
    margin: 10px auto;
    height: 400px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
img{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}
pre{
    font-size: 20px;
    
}
.role{
    /* text-align: center;
    background: rgb(39, 168, 136);
    padding: 5px; */
    font-weight: bold;
    color: #8ddd9d;
    font-size: 16px;
    /* width: 100px;
    border-radius: 50px 50px ; */
}
.job{
    color: gray;
}
