* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 40px;
    border-radius: 50%;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

.navbar-toggler {
    border: none;
    outline: none;
    
}
.login-img{
    width: 30px;
}
