*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: linear-gradient(0deg, #918e8b 0%, #000000 100%);
    display: grid;
    place-content: center;
    min-height: 100vh;
    
}
body::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 50px;
    filter: blur(calc(500px/5));
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #2d2929 0%, #ffffff 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.container{
    position: relative;
    width: 110%;
    padding: 40px 0px 40px 10px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(143, 93, 0, 0);
    box-shadow: 0 15px 25p rgba(228, 74, 74, 0.6);
    border-radius: 30px;
    /* text-align: center; */
    overflow: hidden;
}
h2{
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col-form-label{
    color: #000000;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;

}

input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Times New Roman', Times, serif;
}
select{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    border-color: #918e8b;
    background: transparent;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    font-family: 'Times New Roman', Times, serif;

}
.link{
    font-family: 'Times New Roman', Times, serif;

}
