*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: rgb(255, 255, 255);
}
.container{
    background: #f5ebeb;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
}
.header h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px black;

}
.img-area img{
    width: 100%;

}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
    font-family: sans-serif;
}
.left ul li{
    line-height: 2;
}
h2{
    background: rgb(85, 164, 186);
    padding: 15px;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 2.9;
    font-family: sans-serif;

}
.right ul li{
    line-height: 2;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 95%;
    }
    h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .left,
    .right{
        flex: none;
        width: 100%;
    }
    .container{
        width: 95%;
        height: auto;
    }
    h2{
        font-size: 15px;
    }
}